<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cook-hader.css" />
    <title>Brewer's Cafe <%= title %></title>

    <style>
      body{
        font-family: "Raleway", sans-serif;}
       .switch {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
        }

        .switch input {
            display: none;
        }

        .switch label {
            position: relative;
            cursor: pointer;
            padding: 10px;
            border-radius: 20px;
            background-color: #ccc;
            transition: background-color 0.4s;
            flex: 1;
            text-align: center;
        }

        .switch input:checked+label {
            background-color: #2196F3;
            color: white;
        }
    </style>
 
  </head>
  <body>
    <nav class="main_nav">
      <div class="container">
        <div class="top">
          <div class="wrapper">
            <ul>
              <li>
                <span class="title">total order</span>
                <span class="number">23</span>
              </li>
              <li class="delivered">
                <span class="title">Delivered</span>
                <span class="number">23</span>
              </li>
              <li class="pending">
                <span class="title">pending</span>
                <span class="number">23</span>
              </li>
            </ul>
            <div class="main_logo">
              <span><img src="/images/login-elements-03.png" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="nav_list_main">
        <div class="first_wrapper">
          <div class="list">
            <ul>
              <li>new order</li>
              <li>recived from</li>
              <li>table 24</li>
            </ul>
          </div>
          <div class="btn_wrapper">
            <a href="#">view order</a>
          </div>
        </div>
        <div class="nav_opn_list">
          <span class="open_nav_btn"><i class="fa-solid fa-bars"></i></span>
        </div>
      </div>
      <div class="side_nav_list">
        <div class="heading_wrapper">
          <span class="titel">Kitchen Hub</span>
          <span class="close_btn"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <ul>
          <li>
            <span class="icon"><i class="fa-solid fa-utensils"></i></span>
            Table View
          </li>
          <li>
            <span class="icon"><i class="fa-solid fa-truck-ramp-box"></i></span>
            Order Delivered
          </li>
          <li>
            <span class="icon"><i class="fa-solid fa-clock"></i></span>
            Order Pending
          </li>
          <li>
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            Logout
          </li>
        </ul>
      </div>
    </nav>

    

